---
import { Icon } from "astro-icon/components";
const { time, name, img, description, twitch, youtube, nerds } = Astro.props;
---

<div class="bg-bunker-900 rounded-xl shadow-md overflow-hidden">
    <div class="md:flex">
        <div class="events-img md:shrink-0">
            <img class="h-48 w-full object-cover md:h-full md:w-[22rem]" src={img} alt={name} loading="lazy">
        </div>
        <div class="p-4 md:min-h-60">
            <h2 class="text-2xl pb-2 link-container hover:text-orange-500" id={name}>
                <a class="border-b-0 font-semibold" href={`#${name}`}>
                    {name}
                </a>
            </h2>
            <div>{description}</div>
            <div class="flex py-2">
                <Icon name="lets-icons:date-range-fill" class="text-xl mr-2" />
                <div class="timestamp">{time}</div>
            </div>
            <div class="flex place-items-center content-center">
                {youtube &&(
                    <a class="hover:text-orange-500 border-b-0" href={youtube} target="_blank" title="Смотреть на YouTube">
                        <Icon name="mdi:youtube" class="text-2xl mr-2" />
                    </a>
                )}
                {twitch && (
                    <a class="hover:text-orange-500 border-b-0" href={twitch} target="_blank" title="Смотреть на Twitch">
                        <Icon name="mdi:twitch" class="text-2xl mr-2" />
                    </a>
                )}
            </div>
            <div class="flex place-items-center content-center pt-2">
                {nerds &&(
                    <Icon name="mdi:gamepad-variant" class="text-2xl mr-2"/>
                    <a class="hover:text-orange-500" href={nerds}>Что показали на {name}</a>
                )}
            </div>
        </div>
    </div>
</div>

<script is:inline>
    var timestamps = document.getElementsByClassName("timestamp");
    var months = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"];

    for (var i = 0; i < timestamps.length; i++) {
        var dateStr = timestamps[i].innerHTML.trim();
        var t = new Date(dateStr);

        if (!isNaN(t.getTime())) {
            var day = t.getDate(),
                month = months[t.getMonth()],
                year = t.getFullYear(),
                hours = t.getHours(),
                min = t.getMinutes() + "";

            if (min.length == 1) min = "0" + min;

            if (hours === 0 && min === "01") {
                timestamps[i].innerHTML = day + " " + month + " " + year;
            } else {
                timestamps[i].innerHTML = day + " " + month + " " + year + " в " + hours + ":" + min;
            }
        } else {
            console.error("Недопустимая дата: " + dateStr);
        }
    }
</script>